:host {
  padding: 10px 40px;
  background-color: #eaeaea;
  border: 2px solid #00747c;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  box-shadow: 7px 7px 12px -1px #000000;
  position: relative;

  p {
    margin: 0;
  }
}

:host:hover {
  background-color: #00747c;
  color: #fff;
  cursor: pointer;
  border-color: #000;
}

.comments {
  width: 100%;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: right;
}

.date {
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

mat-icon {
  color: #4caf50;
  position: absolute;
  top: 10px;
  right: 10px;
}
