:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 100%;
  background-color: #00bbc9;
  padding-bottom: 20px;
}

.soon {
  padding: 0 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 150%;
  gap: 15px;
}

.later {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
