<form [formGroup]="loginForm" (submit)="login()" (input)="resetError()" spellcheck="false">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" name="email" autocomplete="email" />
    @if (email.errors?.["required"]) {
      <mat-error>Email megadása kötelező</mat-error>
    } @else if (email.errors?.["email"]) {
      <mat-error>Hibás email</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Jelszó</mat-label>
    <input type="password" matInput formControlName="password" name="password" autocomplete="new-password" />
    @if (password.errors?.["required"]) {
      <mat-error>Jelszó megadása kötelező</mat-error>
    } @else if (password.errors?.["minlength"]) {
      <mat-error>Jelszó túl rövid</mat-error>
    } @else if (password.errors?.["maxlength"]) {
      <mat-error>Jelszó túl hosszú</mat-error>
    }
  </mat-form-field>
  @if (loginError) {
    <mat-error>{{ loginError }}</mat-error>
  }
  <button class="btn" type="submit" [disabled]="loginForm.invalid">Bejelentkezés</button>
</form>
